<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>실습 문제 풀이</h3>
    <a href="/get">get 회원가입</a>
    <a href="/post">post 로그인</a>
</body>
</html>