<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>폼 전송 실습</h3>
    <h4>GET요청</h4>
    <form action="/getForm" method="get">
        <input type="text" placeholder="id" name="id" required><br>
        <input type="password" placeholder="pw" name="pw" required><br>
        <button type="submit">제출</button>


    </form>


    <hr>
    <h4>POST 요청</h4>
    <form action="/postForm" method="post">
        <input type="text" placeholder="id" name="id" required><br>
        <input type="password" placeholder="pw" name="pw" required><br>
        <button type="submit">제출</button>


    </form>
</body>

</html>