<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
        td {
            text-align: center;
            padding: 5px 8px;
        }
        #X{
            color: red;
        }
    </style>
</head>

<body>
    <h3>전체 도서 목록</h3>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>책 제목</th>
                <th>저자</th>
                <th>출판일</th>
                <th>재고 여부</th>
                <th>대여</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <a href="/userMain">돌아가기</a>



    <script>
        (async function () {
            const tbody = document.querySelector('tbody')
            const res = await axios({
                method: 'post',
                url: '/api/library/bookListUser',
                headers: {
                    Authorization: localStorage.getItem('token')
                }
            })
            if (res.data.result) {
                const bookList = res.data.bookList;
                console.log(bookList);
                bookList.forEach((book) => {
                    let exist = ''
                    if (book.exist) {
                        exist = 'O'
                    } else {
                        exist = 'X'
                    }
                    if (book.exist) {
                        tbody.innerHTML +=
                            `<tr id="${exist}">
                                <td>${book.bookName}</td>
                                <td>${book.author}</td>
                                <td>${book.publishDate}</td>
                                <td>${exist}</td>
                                <td><button onclick="rentFunc(${book.id})">대여</button></td>
                            </tr>`
                    } else {
                        tbody.innerHTML +=
                            `<tr id="${exist}">
                                <td>${book.bookName}</td>
                                <td>${book.author}</td>
                                <td>${book.publishDate}</td>
                                <td>${exist}</td>
                                <td></td>
                            </tr>`
                    }
                })

            } else {
                alert('서버 오류')
                console.log(res);
                // document.location.href = '/'
            }
        })()

        const rentFunc = async (id) => {
            if (!confirm('정말로 대여 하시겠습니까?')) {
                return;
            }
            const res = await axios({
                method: 'post',
                url: '/api/library/rent',
                data: { id },
                headers: {
                    Authorization: localStorage.getItem('token')
                }
            })
            if (res.data.result) {
                document.location.reload();
            } else {
                alert('서버오류로 대여 실패')
            }
        }



    </script>
</body>

</html>