<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h3>도서 대여 시스템</h3>
    <br>
    <a href="/bookListUser">전체 도서목록</a><br>
    <a href="/myRental">나의 대여 현황</a>

    <script>
        (async function () {
            const res = await axios({
                method: 'post',
                url: '/api/library/userMain',
                headers: {
                    Authorization: localStorage.getItem('token')
                }
            })
            if(!res.data.result){
                alert('로그인이 필요합니다.')
                document.location.href = '/'
            }
        })()
    </script>
</body>

</html>