<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>전체 회원정보</h3>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>회원번호</th>
                <th>회원ID</th>
                <th>이름</th>
                <th>비밀번호</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>