<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>로그인 하세요</h3>
    <form>
        <input type="text" id="userid" placeholder="아이디" /><br />
        <input type="password" id="pw" placeholder="비밀번호" /><br />
        <button type="button" onclick="loginFunc()">로그인</button>
        <a href="/signup">회원가입</a>
    </form>

</body>

</html>