<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" id="userId" placeholder="아이디"><br>
        <input type="password" id="pw" placeholder="비밀번호"><br>
        <input type="text" id="username" placeholder="이름"><br>
        <input type="number" id="age" placeholder="나이"><br>
        <input type="email" id="email" placeholder="이메일주소"><br>
        <button type="button" onclick="signupFunc()">회원가입</button>
    </form>
</body>
</html>