<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <h3>로그인</h3>
        <form>
            <input type="text" id="userId" placeholder="아이디" /><br />
            <input type="password" id="pw" placeholder="비밀번호" /><br />
            <button type="button" onclick="loginFunc()">로그인</button>
        </form>
        <script>
            async function loginFunc() {
                const res = await axios({
                    method: 'post',
                    url: '/api/member/login',
                    data: {
                        userId: document.querySelector('#userId').value,
                        password: document.querySelector('#pw').value,
                    },
                });
                if (res.data.result) {
                    alert('환영합니다');
                    localStorage.setItem('token', res.data.response.token);
                    document.location.href = '/profile';
                } else {
                    alert('아이디와 비밀번호가 틀립니다.');
                }
            }
        </script>
    </body>
</html>
